.player{
    text-align: left;
    padding:10px;
    display: inline-block;
    width:300px;
    height:100px;
    position:relative;
    margin-top:10px;
    margin-right:5px;
    margin-left:5px;
    margin-bottom:30px;
}
.player h2{
    font-size:18px;
    margin:0;
    margin-bottom:10px;
}
.player h2 span{
    float:right;
    font-size:13px;
    color:#444;
}
.player p{
    position:absolute;
    font-size:60px;
    bottom:0px;
    right:10px;
    margin:0px;
    color: #558BBB;
    line-height: 37px;
}
.player a{
    position: absolute;
    left:5px;
    bottom:5px;
}
.player p small{
    font-size: 15px;
    color:black;
}
.playerready-true{
    border:2px solid #008CBA;
}
.playerready-false{
    border:2px solid #d43f3a;
}
.player-area{
    padding:0px;
    text-align: center;
}

.content-game-area{
    position:relative;

}

.content-game-area .count-down{
    position: absolute;
    background-color:rgba(255,255,255, 0.8);
    height:400px;
    right:0px;
    left:0px;
    top:0px;
    margin:0px;
}
.count-down > p{
    display:block;
    font-weight: bold;
    text-align: center;
    line-height: 400px;
    font-size:85px;
    margin:0px;
    padding:0px;
}

.content-game-area .game-area{
    width:400px;
    height:400px;
    margin:auto;
    padding:0px;
}

.game-area div{float: left;border:1px solid #ccc; width: 100px;height: 100px;box-sizing: border-box; }

.game-info{
    margin:10px 0px;
    text-align: center;
}

.row > div{
    margin: 20px;
    height: 130px;
}

.count-down > p.anim{
    -webkit-animation: count-down 1s linear 0s 11 normal;
    -moz-animation: count-down 1s linear 0s 11 normal;
}

@-webkit-keyframes count-down {
    0% {
        font-size: 50px;
        opacity: 0;
    }
    45% {
        font-size: 170px;
        opacity: 1;
    }
    50%{
        font-size: 170px;
        opacity: 1;
    }
    55%{
        font-size: 170px;
        opacity: 1;
    }
    100%{
        font-size: 50px;
        opacity: 0;
    }
}

@-moz-keyframes count-down {
    0% {
        font-size: 50px;
        opacity: 0;
    }
    45% {
        font-size: 170px;
        opacity: 1;
    }
    50%{
        font-size: 170px;
        opacity: 1;
    }
    55%{
        font-size: 170px;
        opacity: 1;
    }
    100%{
        font-size: 50px;
        opacity: 0;
    }
}