

nav.nav-home {
    background:rgba(0,0,0,0.6) !important;
    box-shadow: none;
    z-index: 10;
    position: relative;
}

.parallax-home h2 {
    position: absolute;
    bottom: 45%;
    width:500px;
    left: 50%;
    margin-left: -250px;
    background: rgba(0,0,0, 0.7);
    font-family: georgia, serif;
}
