
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/<%= card.picture %>">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            <%= card.label %> <i class="material-icons right">more_vert</i>
        </span>

        <p><a href="<%= card.href %>"><%= card.btn ? card.btn : "Y aller !" %></a></p>
    </div>

    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
            <%= card.label %> <i class="material-icons right">fermer</i>
        </span>
        <p><%= card.description %></p>
    </div>
</div>
