
    <!-- vendor -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/bower_components/Materialize/dist/js/materialize.min.js"></script>

    <!-- app script -->
    <script src="/js/jquery/participants.js"></script>
    <script src="/js/jquery/init.js"></script>
    <script src="/js/angular/squareGame.module.js"></script>
    <script src="/js/angular/squareGame.service.js"></script>
    <script src="/js/angular/squareGame.component.js"></script>
    <script src="/js/angular/square.component.js"></script>

    <script>

    </script>



</body>
</html>