
    <!-- vendor -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/bower_components/Materialize/dist/js/materialize.min.js"></script>

    <!-- app script -->
    <script src="/js/squaregame.js"></script>


    <script>
        $(document).ready(function(){
            $('.parallax').parallax();
        });
    </script>

</body>
</html>