<!DOCTYPE html>
<html>
<head>
    <title>Valtech Training</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--<link href="/css/main.css" type="text/css" rel="stylesheet" />-->
    <!--<link href="/css/squaregame.css" type="text/css" rel="stylesheet" />-->
</head>
<body>

<header>

    <nav class="light-blue lighten-1">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo" style="padding-left: 10px">valtech_</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <%
                if (menu){
                    for(var i = 0; i < menu.length; i++){
                %>
                    <li><a href="<%= menu[i].href %>"><%= menu[i].title %></a></li>
                <%
                    }
                }
                %>
            </ul>
        </div>
    </nav>

</header>
