<% include partials/header.html %>

<div class="parallax-container">
    <div class="parallax"><img src="/images/parallax1.jpg"></div>
</div>
<div class="section white">

    <h2 class="header center light-blue-text">Notre cave à vin</h2>

    <div class="row container">

        <div class="col s12 m12">
            <div class="icon-block">
                <h5 class="center">Bordeaux</h5>

                <p class="light">
                    <%= bordeaux %>
                </p>
            </div>
        </div>

        <div class="col s12 m12">
            <div class="icon-block">
                <h5 class="center">Bourgogne</h5>

                <p class="light">
                    <%= bourgogne %>
                </p>
            </div>
        </div>

        <div class="col s12 m12">
            <div class="icon-block">
                <h5 class="center">Champagne</h5>

                <p class="light">
                    <%= champagne %>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="/images/parallax2.jpg"></div>
</div>


<% include partials/footer.html %>