<% include partials/header.html %>

<div class="parallax-container parallax-home" style="top:-70px;margin-bottom:-70px">
    <div class="parallax"><img src="/images/france-top-media-.png"></div>
    <h2 class="header center white-text">Self & Cave à vin</h2>
</div>

<div class="section white">
    <div class="">

        <div class="row center">
            <h5 class="header col s12 light">Où souhaitez-vous allez ?</h5>
        </div>

        <div class="row">
            <%
            for(var i = 0; i < etageMenu.length; i++){
            var card = etageMenu[i];
            %>
            <div class="col s1 m4">
                <% include partials/card.html %>
            </div>
            <%
            }
            %>

        </div>
    </div>
</div>

<% include partials/footer.html %>