<% include partials/header.html %>

<div class="container">
    <h1 class="header center orange-text">Valtech Training</h1>
    <div class="row center">
        <h5 class="header col s12 light">Bienvenue. Où souhaitez-vous allez ?</h5>
    </div>

    <div class="row">
        <%
        for(var i = 0; i < menu.length; i++){
        var card = menu[i];
        %>
        <div class="col s1 m3">
            <% include partials/card.html %>
        </div>
        <%
        }
        %>

    </div>

    <div class="row center">
        <h5 class="header col s12 light">Documents</h5>
    </div>

    <div class="row center">
        <a href="rest/documents/1" download="" name="feuille de cours" id="download-button" class="btn-large waves-effect waves-light orange">Feuille de cours</a>
    </div>

</div>

<% include partials/footer.html %>
