<% include partials/header.html %>

<section class="container">

    <header>
        <h2>Training</h2>
    </header>

    <div class="row">
        <div class="col s12 m6">
            <h5>Liste des formations</h5>
            <hr>

            <div class="row">
                <%
                for(var i = 0; i < courses.length; i++){
                    var card = courses[i];
                %>
                <div class="col s12 m6">
                    <% include partials/card.html %>
                </div>
                <%
                }
                %>

            </div>
        </div>

        <div class="col s12 m6">
            <h5>Participants</h5>
            <hr>

            <ul class="collection">

                <%
                for(var i = 0; i < participants.length; i++) {
                var participant = participants[i];

                %>

                <li class="collection-item avatar">
                    <a href="training/participants/<%= participant._id %>">
                        <img src="images/<%= participant.course.icon %>" alt="" class="circle">
                                <span class="title">
                                    <%= participant.firstName %>
                                    <%= participant.lastName %>
                                </span>
                        <p>
                            <%= participant.course.label %>
                        </p>
                    </a>

                    <!--<a href="<%= %>" class="secondary-content"><i class="material-icons">grade</i></a>-->
                </li>

                <%
                }
                %>
                <!--
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">insert_chart</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red">play_arrow</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>-->
            </ul>
        </div>

    </div>

</section>

<% include partials/footer.html %>