<% include partials/header.html %>

<section class="container">

    <header>
        <h2>Inscription</h2>
    </header>


    <form action="/rest/participants" method="post" participant="">

        <input type="hidden" name="_id" value="<%= participant._id %>" />

        <div class="row">


            <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input id="firstName"
                       name="firstName"
                       type="text"
                       class="validate"
                       value="<%= participant.firstName %>">
                <label for="firstName">Nom</label>
            </div>


            <div class="input-field col s12 m6">
                <input id="lastName"
                       name="lastName"
                       type="text"
                       class="validate"
                       value="<%= participant.lastName %>">
                <label for="lastName">Prénom</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">mail</i>
                <input id="email"
                       type="email"
                       class="validate"
                       name="email"
                       value="<%= participant.email %>">
                <label for="email" data-error="wrong" data-success="right">E-mail</label>
            </div>
        </div>

        <div class="row">

            <div class="input-field col s12 m6">

                <i class="material-icons prefix">folder</i>

                <select name="course" class="icons">
                    <option value=""
                            disabled="disabled"
                            <%= !participant.course ? 'selected' : '' %>>Choisissez le cours</option>

                    <%
                        courses.forEach(function(course, index){
                    %>
                        <option value="<%= course.value %>"
                                data-icon="/images/<%= course.icon %>"
                                class="left circle"
                                <%= course.value == participant.course ? 'selected' :'' %>><%= course.label %></option>
                    <%
                        });
                    %>


                </select>

                <label>Cours</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit">Enregistrer</button>
    </form>
</section>

<% include partials/footer.html %>