<html>
<head>
    <title>Valtech Training</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css"  type="text/css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
</head>
<body>

<header>
    <nav>
        <ul>
            <%
            if(menu){
                for(var i = 0; i < menu.length; i++){
                %>
                <li><a href="<%= menu[i].href %>"><%= menu[i].short %></a></li>
                <%
                }
            }
            %>
        </ul>
    </nav>
</header>

<main>